/M4--Documentation--CAM--Y014--RELEASED--18.11.2013.pdf
/microscope_1.ico
/microscope_2.ico
/microscope_3.ico
/Images/
/icon/
/PluginWindow$1.class
/PluginWindow$2.class
/PluginWindow$3.class
/PluginWindow$ImagePresenterThread.class
